@import url('https://fonts.googleapis.com/css?family=Nunito|Pacifico');

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: #333333;
}

h1 {
    font-size: 4rem;
    font-family: 'Pacifico', cursive;
    margin-bottom: 2rem;
}

header {
    background: url(background.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-top: 26vh;
}

header div {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #C98910;
}

p {
    font-size: 1.5rem;
    color: #C98910;
    line-height: 1.2;

}

section {
    padding: 4rem 6rem;
    text-align: center;
}

#say-hello {
    background: url(boramey.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

#say-hello a {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: #333333;
    position: absolute;
    left: calc(50vw - 22rem);
    top: 55vh;
}

.social {
    text-decoration: none;
}

.social svg {
    width: 3rem;
    height: 3rem;
}

.social svg path {
    fill: #C98910;
}

.social:not(:last-child) {
    margin-right: 4rem;
}

footer {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    text-align: center;
    color: white;
    background-color: #333333;
}

footer a {
    color: white;
}

@media (max-width: 699px) {
    #say-hello {
        height: 50vh;
    }

    #say-hello a {
        left: calc(50vw - 8rem);
        top: 13vh;
    }

    section {
        padding: 2rem;
    }

    header {
        padding-top: 15vh;
    }
}
